* {
  text-align: center;
}
.color {
  width: 55px;
  height: 55px;
  display: inline-block;
  border: 1px solid black;
}
#button-random-color {
  font-size: 17px;
  margin-top: 0;
  margin-bottom: 40px;
}
.row {
  height: 40px;
  /* width: 40px; */
}
#pixel-board .pixel{
  display: inline-block;
}
.pixel {
  border: 1px solid black;
  width: 40px;
  height: 40px;
}
#clear-board {
  margin-bottom: 10px;
}